body {
    font-family: 'Lato', sans-serif; 
    overflow-x: hidden;   
}

.cta {
    margin-left: 5px;
    min-width: 200px !important;
    max-width: 200px !important;
    
}

.cta-button {
    border-radius: 20px;
    border: 2px solid #536dfe;
    color: #536dfe;
    height: 35px;
    -moz-box-shadow:    1px 1px 1px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow:         1px 1px 1px 1px rgba(0,0,0,0.15);
}

/******** Navigation  ***********/
.navbar {
    background: #ffffff;
    color: #536dfe;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    padding: 5px 5px;
}

.navbar-brand img {
    max-width: 150px;    
}

.navbar-toggle .icon-bar {
    background: #536dfe;    
}

img.social {
    max-height: 30px;
}

.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    max-width: 50px;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: white;
}


/********* Structural ***********/
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

@media (min-width: 768px) {
    .container-fluid > .navbar-collapse, 
    .container-fluid > .navbar-header, 
    .container > .navbar-collapse, 
    .container > .navbar-header {
        margin-left: 40px;
    }
}

/*********** Info Panel *************/
.info {
    background: #536dfe; 
    color: white; 
    padding-bottom: 30px;  
}

.info h2 {
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

.info hr {
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    margin-bottom: 40px;   
}

.info p {
    font-weight: 200;
    font-size: 17px;
}



/************** Countdown **************/
.divider {
    margin: 0;
    color: #536dfe; 
    background: #536dfe; 
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
}
#countdown{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#countdown > div{
	padding: 10px;
	border-radius: 3px;
	background: #8c9eff;
	display: inline-block;
}

#countdown div > span{
	padding: 15px;
	border-radius: 3px;
	background: #536dfe;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


/************** Cards **************/
.cards {
    background: #536dfe;
    color: white;
    padding-bottom: 30px;      
}

.card {
    margin-top: 30px;
    background-color: #8c9eff;
    min-height: 120px;
    padding: 10px;
    border-radius: 4px;
}

.inverse {
    background: white;
}

.cards h2 {
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

.cards h3 {
    font-weight: 200;
	text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.cards h3.inverse, .cards h4.inverse, .cards h5.inverse {
    color: #536dfe;
}

.cards h4 {
    font-weight: bold;
	text-align: center;
    color: white;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 24px;
}

.cards h5 {
    font-weight: 200;
	text-align: center;
    color: white;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.cards hr {
    border-top: 1px solid rgba(83, 109, 254, 0.5); 
}

.cards p {
    font-weight: 200;
    font-size: 17px;
}

.cards .card-image {
    margin-top: 20px;
    width: 40px;
	height: 40px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}


/************** Graphic Panel **************/
.graphic {
    color: #263238; 
    padding-top: 30px;  
    padding-bottom: 30px;  
    background: white;
}

.graphic img {
    width: 100%;
}

.graphic h2 {
    color: #263238; 
}

.graphic hr {
    margin-bottom: 5px;   
    margin-top: 5px;       
    border-top: 1px solid rgba(83, 109, 254, 0.5); 
}

.graphic p {
    margin-top: 10px;
}


/************** Process *************/

.process {
    background: rgba(240, 242, 244, 0.45);
    color: #263238;
    padding-bottom: 30px;      
}

.process h2 {
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

.process h3 {
    font-weight: 300;
	text-align: center;
    color: #263238;
    margin-top: 10px;
    margin-bottom: 0px;
}

.process h4 {
    font-weight: bold;
	text-align: center;
    color: #78909c;
    margin-top: 2px;
    margin-bottom: 5px;
}

.process hr {
    border-top: 1px solid rgba(83, 109, 254, 0.5); 
}

.process p {
    font-weight: 200;
    font-size: 17px;
}

.process .ideation {
    margin-top: 20px;
    width: 50px;
	height: 50px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/************** Economy *************/

.economy {
    background: rgba(240, 242, 244, 0.45);
    color: #263238;
    padding-bottom: 30px;      
}

.economy h2 {
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

.economy hr {
    border-top: 1px solid rgba(83, 109, 254, 0.5); 
}

.economy img {
    width: 100%;
}

/************ Contact *************/
.contact {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #263238;
    padding-bottom: 30px;   
}

.contact h2 {
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.contact hr {
    border-top: 1px solid white; 
}

.contact .btn-submit {
    border-radius: 20px;
    background: white;
    color: #536dfe;
    border: none;
    width: 100px;
}

/************** Footer *************/
.footer {
    color: white;
    background: #536dfe;
    height: 64px;
}

.footer p {
    line-height: 64px;
    color: white;
    padding: 0;
    margin: 0;
}

.footer .nav-footer {
    line-height: 64px;
    height: 64px;
    background: #536dfe;    
}

.footer .navbar-nav>li>a {
    padding-top: 17px !important;
    padding-bottom: 10px !important;
    max-width: 50px !important;
}

.footer .navbar-nav>li>a:hover,
.footer .navbar-nav>li>a:focus {
    background: #536dfe;
}



/************** Timeline *************/
.timeline {
    max-width: 640px;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    .timeline {
        max-width: 640px;
    }
}

/************** Jumbotron *************/
.headline h1 {
    font-weight: 300;
    font-size: 34px;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 650px;
  }
  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }
  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #536dfe;
  }
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px;
  }
  .video-container .description .inner {
    font-size: 1em;
    width: 45%;
    margin: 0 auto;
  }
  .video-container .link {
    position: absolute;
    bottom: 3em;
    width: 100%;
    text-align: center;
    z-index: 1001;
    font-size: 2em;
    color: #fff;
  }
  .video-container .link a {
    color: #fff;
  }
  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  .video-container video.fillWidth {
    width: 100% ;
  }